.ion-page{
    max-width: 400px;
    width: 100%;
    margin: auto;
    background: #fff;
    border: 1px solid #ccc;
}
.login-container {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    max-width: 400px;
}

.logo-container {
    margin: 40px 0;
}

.logo {
    width: 51px;
    border-radius: 90px;
    height: 51px;
    display: flex;
}

.header h1 {
    font-size: 35px;
    font-weight: 600;
    margin: 0;
    color: #000000;
}
.header{
    margin-bottom: 10px;
}

.header h2 {
    font-size: 35px;
    font-weight: 600;
    margin: 0;
    color: #000000;
}

.subtitle {
    font-weight: 600;
    color: #9A9AAA;
    margin-bottom: 40px;
    font-size: 16px;
}

.form-container {
    width: 100%;
    height: 50px;
}

.input-container {
    width: 100%;
    background-color: #f3f3f3a3;
    border-radius: 15px;
    padding: 10px;
    display: flex
;
    align-items: center;
    border: 1px solid #ccc;
    margin-bottom: 12px;
    height: 50px;
  }

  .input-container:hover {
    background-color: #e0dbff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  }
  
  .input-field {
    width: 100%;
    border: none;
    background: transparent;
    font-size: 16px;
    outline: none;
    padding: 8px;
  }
  .sc-ion-input-md-h {
    --highlight-color-focused: transparent !important; 
    --border-color: transparent !important;
    --box-shadow: none !important;
}

.restore-text {
    display: block;
    text-align: right;
    margin: 10px 0 30px;
    color: #2121216E;
    font-size: 11px;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
}

.login-button {
    --background: #5148FF;
    --border-radius: 15px;
    --box-shadow: none;
    margin-bottom: 15px;
    height: 60px;
    font-weight: 600;
    font-size: 17px;
}

.otp-button {
    --background: #000000;
    --border-radius: 15px;
    --box-shadow: none;
    margin-bottom: 15px;
    height: 60px;
    font-weight: 600;
    color: white;
    border: none;
}

.register-text {
    color: #7f8c8d;
    font-size: 15px;
    text-align: center;
}

.register-text a {
    color: #26262696;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}