/* General menu styling */
ion-menu {
  --width: 250px;
}

/* Menu Header Styling */


.header-title {
  font-weight: bold;
  font-size: 20px
}

/* Close Button Styling */
ion-button[fill='clear'] {
  color: rgb(0, 0, 0);
}

/* Menu List Styling */
#inbox-list {
  padding: 0;
}

ion-item {
  --background: transparent;
  --color: #333;
  --border-radius: 8px;
  margin: 5px 10px;
  transition: background-color 0.3s ease;
}

ion-item.selected {
  --background: #e0e0e0;
  font-weight: bold;
}

ion-item:hover {
  --background: #f0f0f0;
}

ion-icon {
  color: #000000;
}

ion-label {
  font-size: 2rem;
}



/* Ensure the close button and icon are visible */
ion-button[fill='clear'] {
  color: white;
}

ion-button[fill='clear'] ion-icon {
  color: rgb(0, 0, 0);
  font-size: 24px;
}
.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  position: relative;
  border-bottom: 1px solid black;
}

ion-button[fill='clear'] {
  position: absolute;
  right: 10px;
}

